@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.container {
  display: grid;
  gap: 2rem;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
