@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.container {
  display: grid;
  gap: 2rem;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.hotels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
}

.hotel__card {
  display: grid;
}

.hotel__card__title {
  font-size: 15px;
  font-weight: bold;
  padding: 1rem;
  background-color: var(--vt-c-indigo);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hotel__card__details {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 13px;
}

.hotel__card__details > p > span {
  font-weight: 600;
}

.search-input {
  background-color: #e3bd2d;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  margin: 6px 0 3px;
  padding: 3px;
  /* max-width: 1100px; */
}

.search-input > div {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 2;
  margin-left: 3px;
}

.search-input > div:nth-child(2) {
  flex-direction: column;
  min-width: 150px;
  text-align: center;
  justify-content: center;
}

button.search {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  padding: 1px 6px;
  width: 100%;
  border: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--vt-c-indigo);
  color: #fff;
  border-radius: 5px;
}

#dates-container {
  display: flex;
  justify-content: space-around;
  padding: 3px 6px;
  flex: 1 1 auto;
  margin-left: 0px;
  align-items: center;
}

#dates-container label {
  word-break: break-word;
}

#dates-container input {
  width: 250px;
  margin: 0 10px;
}

#dates-container input[type='date'] {
  background-color: var(--vt-c-indigo);
  padding: 10px;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  border: none;
  outline: none;
  border-radius: 5px;
}

#customer-type-selector input[type='radio'] {
  display: none;
}

#customer-type-selector label {
  position: relative;
  color: var(--vt-c-indigo);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  border: 2px solid var(--vt-c-indigo);
  padding: 5px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

#customer-type-selector > div:nth-child(1) > label {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#customer-type-selector > div:nth-child(2) > label  {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#customer-type-selector label:before {
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid var(--vt-c-indigo);
  border-radius: 50%;
  margin-right: 15px;
}

#customer-type-selector input[type='radio']:checked + label {
  background-color: var(--vt-c-indigo);
  color: white;
}

#customer-type-selector input[type='radio']:checked + label:before {
  height: 16px;
  width: 16px;
  border: 4px solid white;
  background-color: var(--vt-c-indigo);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
